/* Start Global Variables for using RTL Theme */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
/* End  Global Variables for using RTL Theme */

:root {
    --primary_color: #28216f;
}

body {
    font-family: "cairo", Helvetica, sans-serif !important;
}
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.btn-text {
    font-family: "cairo", Helvetica, sans-serif !important;
}

h6,
.home-banner-area .banner-content h1 {
    font-family: "cairo", Helvetica, sans-serif !important;
}

a:hover {
    color: var(--primary_color);
}

.main-nav .navbar .navbar-nav .nav-item a.active {
    color: var(--primary_color);
}

.primary-btn {
    background-color: var(--primary_color);
}
.go-top {
    background-color: var(--primary_color);
}

.social-link a {
    background-color: var(--primary_color);
}

.promo-service-section .item-single i {
    color: var(--primary_color);
}

.about-section .about-content h2 span {
    color: var(--primary_color);
}

.about-section .about-content .content-list i {
    color: var(--primary_color);
}

.services-section .owl-carousel .owl-dots .owl-dot.active {
    background-color: var(--primary_color);
}

.search-box .search-form .btn-search {
    background-color: var(--primary_color);
    border: 1px solid var(--primary_color);
}

.contact-section .top-content .info-list i {
    color: var(--primary_color);
}

.services-section .item-single:hover .content a {
    color: var(--primary_color);
}
.services-section .item-single:hover .content {
    border-bottom: 1px solid var(--primary_color);
}
.home-banner-area .banner-content .video-btn i {
    color: var(--primary_color);
}
.main-nav .navbar .navbar-nav .nav-item a:hover {
    color: var(--primary_color);
}

.projects-section .item-single .content {
    background-color: #27216fb2;
}

.testimonials-section
.testimonial-slider
.owl-item.firstactiveitem
.slider-item
.content
.quote
i {
    color: var(--primary_color);
}

.footer-area .copy-right-area .copy-right-content a {
    color: #5c4dfc;
}
.switch-box input:checked + .slider,
.switch-box .slider {
    border: 1.5px solid var(--primary_color);
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu .nav-item a:hover {
    color: var(--primary_color);
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    border-top: 2px solid var(--primary_color);
}
.header-area .header-top .quick-links .nav-item .nav-link:hover {
    color: #b6afff;
}

#preloader > div {
    background-color: var(--primary_color);
}

/* Dark theme */
.theme-dark .main-navbar-area .main-nav nav .navbar-nav .nav-item a.active {
    color: #b6afff !important;
}

.footer-area .footer-links li a:hover,
.footer-area .footer-links li i {
    color: #b6afff;
}

.whatsapp-icon {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 8;
}

/* WhatsApp Icon */
.btn-whatsapp-pulse {
    /*width:60px;*/
    /*height:60px;*/
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 8;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    padding: 35px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
@media (max-width: 768px) {
    .whatsapp-icon {
        bottom: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
    }
    .btn-whatsapp-pulse {
        padding: 25px;
        bottom: 10px;
        left: 10px;
    }
}

.btn-whatsapp-pulse:hover {
    color: #fff;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }
    80% {
        box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
}

/* clock counter */

.side-option .item .btn-search i {
    color: #fff;
}

.side-option .item .language a {
    color: #fff;
}

.side-option .item .language .menu .menu-item .menu-link {
    color: #06121c;
}

@media (max-width: 1200px) {
    .header-right .side-option {
        display: none;
    }
}

.header-area .header-top {
    display: flex;
    justify-content: center;
    min-height: 47px;
}

.search-box {
    border: 1px solid var(--primary_color);
}

.contact-section .top-content .info-list a:hover {
    color: var(--primary_color);
}

.go-top.active {
    left: auto;
    right: 3%;
}
.promo-service-section .item-single {
    text-align: center;
}

footer iframe {
    max-width: 100%;
    max-height: 100%;
}

/* color of navmenu in small screen */
.main-responsive-nav
.main-responsive-menu.mean-container
.mean-nav
ul
li
a.active {
    color: var(--primary_color);
}

.navbar-brand img {
    min-width: 100px;
}
.home-banner-area {
    position: relative;
    overflow: hidden;
    background: url(../img/slider.png) no-repeat center;
    background-size: cover;
    z-index: 1;
}

.header-area .header-top {
    background: #272257;
}

.owl-carousel .owl-item img {
    max-width: 150px;
}
#services .owl-carousel .owl-item img{
    max-width: 100%;
}

.switch-box input:checked + .slider, .switch-box .slider{

    display:none;
}
.panel-group .panel-title a:before{

    background:var(--primary_color) ;
}


.black-color{
    color: #000;
}


.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-item.active .page-link{
    background-color: var(--primary_color);
    border-color: var(--primary_color);
}
.pagination .page-link{
    color:var(--primary_color);
}

